<div role="main" class="main shop">
	<section class="page-header page-header-classic">
		<div class="container">
			<div class="row">
				<div class="col p-static">
					<h1 class="font-weight-bold appear-animation" data-title-border data-appear-animation="maskUp" data-appear-animation-delay="300">{TITLE}</h1>

				</div>
			</div>
		</div>
	</section>
	<section class="border-0 pt-4 m-4">
		<div class="container shop pb-4">
					<div class="row align-items-center">
				<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
					<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
						<div class="img-thumbnail d-block">
							<img alt="Amparar" class="img-fluid" src="{IMG}">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="overflow-hidden mb-2">
					</div>
					<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">{TEXT}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
		<div class=" container">
			<div class="row  py-5 my-4">
				<div class="col-sm-10 col-md-9 col-lg-4 text-left mb-5 mb-lg-0">
					<h2 class="font-weight-bold text-4 line-height-1 mt-4 mb-4" style="text-transform: uppercase;">{end-t1}</h2>
					<ul class="list list-dark list-unstyled mb-0">
						<li class="font-weight-light mb-1"><i class="fas fa-phone-alt"></i> <a href="tel:+55{end-p1}" target="_blank" class="text-decoration-none">&nbsp; {end-p1}</a></li>
						<li class="font-weight-light mb-1" style="width: 81%;"><i class="fas fa-map-marker-alt"></i> <a href="{end-m1}" target="_blank" class="text-decoration-none text-color-hover-primary">{end-l1}</a></li>
					</ul>
				</div>
				<div class="col-sm-10 col-md-9 col-lg-4 text-left mb-5 mb-lg-0">
					<h2 class="font-weight-bold text-4 line-height-1 mt-4 mb-4" style="text-transform: uppercase;">{end-t2}</h2>
					<ul class="list list-unstyled mb-0">
							<li class="font-weight-light mb-1"><i class="fas fa-phone-alt"></i> <a href="tel:+55{end-p2}" target="_blank" class="text-decoration-none text-color-hover-primary">&nbsp; {end-p2}</a></li>
							<li class="font-weight-light mb-1" style="width: 81%;"><i class="fas fa-map-marker-alt"></i> <a href="{end-m2}" target="_blank" class="text-decoration-none text-color-hover-primary">{end-l2}</a></li>
					</ul>
				</div>
				<div class="col-sm-10 col-md-9 col-lg-4 text-left">
					<h2 class="font-weight-bold text-4 line-height-1 mt-4 mb-4">CONTATOS DE URGÊNCIA</h2>
					<ul class="list list-dark list-unstyled mb-0">
							<li class="font-weight-light mb-1"><i class="fab fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=55{whatsapp1}" target="_blank" class="text-decoration-none text-color-hover-primary">&nbsp; {whatsapp1}</a></li>
							<li class="font-weight-light mb-1"><i class="fab fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=55{whatsapp2}" target="_blank" class="text-decoration-none text-color-hover-primary">&nbsp; {whatsapp2}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
