<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <link href="assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8">
    </head>
    <body>
        <div class="row" style="font-family: Arial">
            <div class="col-5 text-center p-2">
                <img style="width: 75%; max-width: 470px; min-width: 256px;" src="/logo.png" /><br />
                <p style="padding: 0; margin: 0; font-weight: bold; font-size: 20px;">
                    CIRÚRGICA ORTOPÉDICA
                </p>
                <p style="padding: 0; margin: 0; font-weight: bold; font-size: 10px;">
                    ARTIGOS E EQUIPAMENTOS DOMICILIARES<br />
                    PARA MANUTENÇÃO DE SAÚDE
                </p>
                <br />
                <p style="padding: 0; margin: 0; font-size: 24px;">
                    ALUGUEL E VENDA DE:
                </p>
                <p style="padding: 0; margin: 0; font-size: 12px; font-weight: bold;">
                    Cadeiras de Rodas, Cadeiras de Banho, Andadores,
                </p>
                <p style="padding: 0; margin: 0; font-size: 12px; font-weight: bold;">
                    Camas Hospitalares, Muletas, Oxigênio, Aspiradores de Secreção, Etc.
                </p>
            </div>
            <div class="col-1" style="border-left: 2px solid #000; padding: 0; margin: 0;"></div>
            <div class="col pr-4">
                <p style="margin: 0; font-weight: bold; font-size: 26px;">Materiais Ortopédicos em Geral</p>
                <p style="margin: 0; font-weight: bold; font-size: 14px;">Av. Bernardo Monteiro, 858, Santa Efigênia, BH - MG</p>
                <p style="margin: 0; font-weight: bold; font-size: 18px;">(31) 3077-5886</p>
                <p style="margin: 0; font-weight: bold; font-size: 14px;">Rua Joaquim Figueiredo, 235, Barreiro, BH - MG</p>
                <p style="margin: 0; font-weight: bold; font-size: 14px;">(esq. c/ Rua Barão de Coromandel)</p>
                <p style="margin: 0; font-weight: bold; font-size: 18px;">(31) 3159-5971</p>
                <p style="margin: 0; font-weight: bold; font-size: 16px;">Urgências: (31) 98696-2997 | (31) 99621-4672</p>
                <p class="text-right pt-4" style="margin: 0; font-weight: bold; font-size: 12px;">https://ampararbh.com.br/</p>
            </div>

            <div class="col-1"></div>

            <div class="col-12">
                <hr style="background-color: #000;" />
            </div>
            <div class="col-12">
                <p class="px-4 pt-1 pb-2" style="margin: 0; font-weight: 500; font-size: 16px; text-align: justify;">
                    Contrato de Locação de Equipamento(s) que fazem entre si, de um lado <u>AMPARAR - ARTIGOS E EQUIPAMENTOS DOMICILIARES PARA MANUTENÇÃO DE SAÚDE</u>, estabelecida à
                    <u>Rua Bernardo Monteiro, 858 - Santa Efigênia - BH - MG</u>, a seguir denominada locadora, e <u class="d-inline-block px-2">&nbsp;{nome}</u>, CPF/CNPJ&nbsp;<u class="d-inline-block px-2">&nbsp;{doc}</u>, RG&nbsp;<u class="d-inline-block px-2">&nbsp;{rg}</u>, Residente à:&nbsp;
                    <u class="d-inline-block px-2">&nbsp;{rua}, {numero} <small style="font-weight: bold;">({complemento})</small> - {bairro} | {cidade} - {estado}</u>, Tel&nbsp;<u class="d-inline-block px-2">&nbsp;{tel}</u>, Cel&nbsp;<u class="d-inline-block px-2">&nbsp;{cel}</u> à seguir denominado locatário as seguintes cláusulas:
                </p>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>1 - OBJETO</strong> - O objeto do presente contrato é a locação de:</p>
                <div style="padding-left: 50px">{produtos}</div>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>2 - PRAZO</strong> - O prazo de duração é de:</p>
                <div style="padding-left: 50px">{prazos}</div>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>3 - PREÇO</strong> - O(s) preço(s) de locação é (são) de:</p>
                <div style="padding-left: 50px">{precos}</div>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>4 - RESPONSABILIDADE</strong> - O locatário declara que está recebendo o(s) equipamento(s) aqui mencionado(s) em perfeitas condições de uso e conservação, se comprometendo a devolve-lo(s) nas mesmas condições de quando foi locado e sem quaisquer débito.</p>
				<p class="px-4 py-1"><strong>5 - VALOR</strong> - Para cobrir à responsabilidade mencionada na cláusula anterior, dá-se ao(s) equipamento(s) o(s) seguinte(s) valor(es).</p>
                <div style="padding-left: 50px">{valores-caso-dano}</div>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>6 - FORO</strong> - As partes elegem o foro da cidade de Belo Horizonte para dirimir quaísquer dúvidas.</p>
				<p class="px-4 py-1"><strong>7 - TRANSPORTE</strong> - O(s) equipamento(s) acima poderá(ão) ser buscado(s) na firma ou entregues a domicílio pelo valor de:</p>
                <div style="padding-left: 50px">{transporte-valores}</div>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>8 - DEVOLUÇÃO</strong> - A devolução ou renovação deverá ser feita até o dia:</p>
                <div style="padding-left: 50px">{devolucoes}</div>
            </div>

            <div class="col-12 p-3" style="font-size: 14px">
				<p class="px-4 py-1"><strong>9 - RENOVAÇÃO</strong> - A renovação do aluguel deverá ser feita no mesmo local, até, até o dia e hora citados na cláusula 8, caso haja atraso terá acréscimo de 20% para cada período, podendo haver reajustes de acordo com aumento de preços de artigos alugados.</p>
				<p class="px-4 py-1"><strong>10 - REFERÊNCIA</strong> - Nome: &nbsp;<u>{ref_nome}</u>
				Telefone: &nbsp;<u>{ref_tel}</u> Celular:  &nbsp;<u>{ref_cel}</u></p>
			</div>

			<div class="col-12 p-3">
				<p class="px-4 pt-1" style="font-weight: bold; margin: 0; font-size: 18px;">
					Observações:
				</p>
				<p class="px-4 pt-1 mx-4" style="font-weight: 500; font-size: 16px; padding-left: 30px;">
					{observacoes}
				</p>
			</div>

            <div class="col-12 p-3">
                <p class="px-4 pt-1" style="margin: 0; font-weight: 500; font-size: 16px;">E por estarem assim justos e contratados, as partes assinam o presente contrato, em duas vias.</p>
                <p class="px-4 pt-3 text-center" style="margin: 0; font-weight: 500; font-size: 16px;">Belo Horizonte, <u class="px-2 d-inline-block pb-1" style="line-height: 4px; font-weight: 500">{dia} de {mes} de {ano}</u></p>
            </div>

            <div class="col-12 p-3">
                <p class="px-4 pt-1 pb-2 text-right" style="margin: 0; font-weight: 500; font-size: 16px;">Devolvido em:&nbsp;_____/______________/20____</p>
            </div>

            <div class="col-12 p-4 row">
                <div class="col-1"></div>
                <p class="px-4 pt-1 pb-2 col-4 text-center" style="font-weight: 500; font-size: 16px; border-top: 2px solid #333; font-weight: bold;">AMPARAR</p>
                <div class="col-2"></div>
                <p class="px-4 pt-1 pb-2 col-4 text-center" style="font-weight: 500; font-size: 16px; border-top: 2px solid #333; font-weight: bold;">Locatário(a)</p>
                <div class="col-1"></div>
				<div class="col-12 text-right" style="font-size: 16px; font-family: Times New Roman; font-weight: bold;">
					"Confie no Senhor e serás amparado" Salmo 9
				</div>

            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>

		<script>
			window.print();
			setTimeout(()=>window.close(), 1.5e3);
		</script>
    </body>
</html>
